header{
    text-align:center;
    padding:20px;
}

nav{

    padding: 10px;
    gap:20px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 2px;
}

th{
    border: 1px solid black;
    padding: 2px;
}

section{  /*Element*/

    padding:20px;
    border:1px solid black;
    color:black;   
}


